<div class="col-md-6" *ngFor="let farm of farms">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <div class="text-right">
         <a [routerLink]="['/farms/edit', farm._id]" style="padding: 20px;" class="text-white"><i class="far fa-edit"></i></a>
         <a (click)="deleteFarm(farm._id)"><i class="far fa-trash-alt"></i></a>
      </div>
      <div>
        {{farm.name}}
      </div>
    </div>

    <div class="card-body">
      <p>LOCATION: {{farm.town}}, {{farm.province}}</p>
      <p>MANAGER: {{farm.manager}}</p>
        <app-ponds-list
          [ponds] = farm.ponds
          [farm] = farm
        ></app-ponds-list>
      </div>
      <div class="container text-right">
        <p>TOTAL AREA: {{ farm.totalSize | number:'1.0-1'}} ha(s)</p>
    </div>
  </div>
  <br>
</div>
