<div class="container">
  <div>
    <div>PONDS:</div>
    <div class="container text-right"><a routerLink="/ponds/new/{{farm._id}}" routerLinkActive="active"><i class="fas fa-plus-circle"> </i>  Add a Pond</a></div>
</div>
  <div class="list-group" *ngFor="let pond of ponds;let indexOfelement=index;">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a routerLink="/ponds/edit/{{farm._id}}/{{indexOfelement}}">{{pond.name}}</a>
      <span class="badge badge-primary badge-pill">{{pond.size | number:'1.0-2'}} ha(s)</span>
      <a (click)="deletePond(farm, indexOfelement)"><i class="fas fa-trash-alt"> </i></a>
    </li>
  </div>
</div>

